@model About
@{
	ViewData["Title"] = "CreateAbout";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br />
<h3>Create About</h3>
<br />

<form method="post">
	<label>Image URL</label>
	<input type="text" asp-for="ImageUrl" class="form-control" />
	<br />
	<label>Title</label>
	<input type="text" asp-for="Title" class="form-control" />
	<br />
	<label>Description</label>
	<textarea asp-for="Description" class="form-control" rows="4"></textarea>
	<br />
	<input type="submit" value="Create" class="btn btn-primary" />

</form>
